.navbar {
  background-color: hsla(348, 100%, 61%, 0.7);
  .navbar-brand {
    font-size: 2em;
  }
}

.active-nav,
.navbar.is-danger .navbar-start > a.navbar-item:focus {
  background-color: hsl(171, 100%, 41%);
}

.navbar.is-danger .navbar-brand > a.navbar-item:hover,
.navbar.is-danger .navbar-brand > a.navbar-item:focus {
  background-color: inherit;
}
