.container {
  .columns {
    .column {
      h3 {
        font-size: 1.75rem;
        font-weight: bold;
      }
      hr {
        background-color: hsl(0, 0%, 50%);
        margin-bottom: 1.25rem;
        margin-top: 0;
        height: 2px;
      }
      #groupLeader {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }
  }
}
