<app-hero [title]='title'></app-hero>
<app-modal [modalAction]='modalAction' [post]='fullPost' *ngIf='showModal' (close)='closeModal($event)' (deleteId)='deletePost($event)' (postId)='addToGroup($event)'></app-modal>
<div class="container mt-6">
  <div class="columns is-multiline">
    <button class="button is-primary is-large column is-half is-offset-one-quarter" routerLink='/posts/new'>CREATE POST</button>
    <div *ngFor='let post of posts' class='box column is-one-third'>
      <h3>{{post.game}}</h3>
      <hr>
      <div class="box">
        <p id='groupLeader'>Group Leader: {{post.username}}</p>
        <p>Members: {{post.members}} </p>
      </div>
      <p>Platform: {{post.platform}}</p>
      <p>Looking for {{post.numOfPlayers}} more to play with!</p>
      <div class="is-justify-content-space-between">
          <button class="button is-primary is-outlined" (click)='openModal(post.id, "JOIN")'>JOIN</button>
          <button class="button is-danger is-outlined" (click)='openModal(post.id, "DELETE")'>DELETE</button>
      </div>
    </div>
  </div>
</div>

