<div class="modal is-active">
  <div (click)='closeModal()' class="modal-background"></div>
  <div *ngIf='modalAction == "JOIN"' class="modal-content">
    <div  *ngFor='let post of post' class="container">
      <div class="box">
        <h1 class="game-title">{{post.game}}</h1>
        <button class="button is-primary" (click)='addToGroup(post.id)'>JOIN</button>
      </div>
    </div>
  </div>
  <div *ngIf='modalAction == "DELETE"' class="modal-content">
    <div  *ngFor='let post of post' class="container">
      <div class="box" id='deleteModal'>
        <h1 class="game-title">{{post.game}}</h1>
        <p class="mb-3">Delete post?</p>
        <button class="button is-danger" (click)='deletePost(post.id)'>DELETE</button>
      </div>
    </div>
  </div>
  <button (click)='closeModal()' class="modal-close is-large" aria-label="close"></button>
</div>
